@import "@/components/pages/common/components/styles/mixins.scss";

.award-items {
  display: grid;
  row-gap: 1.3vh;

  .award-container {
    display: flex;
    align-items: center;
    padding: 1.4vh 2.5vw;

    .award-content {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: start;
      column-gap: 5vw;

      .award-text {
        font-size: 2.5vh;
        font-weight: bold;
        @include text-color(var(--text-color-award));
      }

      .award-friends {
        background: #5E6065;
        color: #ffffff;
        border-radius: 2vw;
        padding: 0.6vh 3vw;
      }
    }
  }
}