@import "theme.css";

.award-item-background {
  background: var(--background-color-award);
  border-radius: 2vw;
  padding: 0.5vh 1.5vw;
  width: fit-content;

  .award-item {
    font-size: 1.4vh;
    white-space: nowrap;
    color: var(--color-text-currency)
  }
}