@import "../mixins";

.task-list-link {
  display: grid;
  margin-top: 2vh;
  align-items: center;
  row-gap: 1vh;
  margin-bottom: 2vh;

  .task-link {
    display: flex;
    background: var(--task-background-link);
    border-radius: 3vw;
    padding: 1.5vh;
    align-items: center;
    justify-content: space-between;

    .link-text {
      font-size: 2.5vh;
      margin-left: 2vw;
      color: var(--tasks-text);
    }

    .link-award {
      @include text-award(var(--tasks-text-award), var(--tasks-background-text-award))
    }
  }
}