.switch {
  display: grid;
  grid-template-areas: "text"
                       "icon";
  align-items: center;
  justify-items: center;
  align-self: end;

  .theme-icon {
    width: 32px;
    height: 32px;
  }
}

p.theme-text {
  white-space: nowrap;
  font-size: 6px;
}