.switch {
  display: grid;
  grid-template-areas: "text"
                       "icon";
  row-gap: 0.5vh;
  align-items: center;
  justify-items: center;

  .theme-icon {
    background: var(--switcher-theme) no-repeat center center;
    background-size: contain;
    width: 8vw;
    height: 2vh;
  }
}

p.theme-text {
  white-space: nowrap;
  font-size: 1.3vh;
}