html {
    --border-gradient: linear-gradient(90deg, #B0E7FF 0%, #F5C4FF 100%)
}

html[data-theme='dark'] {
    --text-gradient: linear-gradient(90deg, #B0E7FF 0%, #F5C4FF 100%);
    --color-background-daily-text: rgba(255, 255, 255, 0.08);
    --background-friends-gradient: #0C0C0C;
    --background-friends-container: #0E0C10;
    --backgroundc-friends-item: #0E0C10;
    --color-daily-text-award: #FFF881;
}

html[data-theme='light'] {
    --text-gradient: #0C0C0C;
    --color-background-daily-text:linear-gradient(90deg, #B0E7FF 0%, #F5C4FF 100%);
    --background-friends-gradient: linear-gradient(90deg, #B0E7FF 0%, #F5C4FF 100%);
    --background-friends-container: #FFFFFF;
    --backgroundc-friends-item: #FFFFFF;
    --color-daily-text-award: #0C0C0C;
}
