.background {
  display: grid;
  grid-template-rows: 85vh 15vh;

  .content {
    display: grid;
    position: relative;
    width: 100%;
    grid-template-rows: 1fr;
    z-index: 1;
  }

  .footer {
    display: grid;
    bottom: 0;
    position: relative;
    z-index: 1;
  }

  .background__gradient {
    position: absolute;
    pointer-events: none;
    height: 40%;
    width: 100%;
    z-index: 0;
    overflow: hidden;
  }

  .gradient__top_right {
    top: 0;
    background: radial-gradient(at top, #3A6ABB -15%, transparent 40%) no-repeat;
    background-size: 200% 180%;
  }

  .gradient__bottom_left {
    bottom: 0;
    background: radial-gradient(at bottom left, #3A6ABB 25%, transparent 65%) no-repeat;
    background-size: 75% 200%
  }
}