@use "theme";
@import "@/common/mixins.scss";

:root {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: fixed;

  background-color: #ffffff;
  color: #000000;
  --color-reward-value: #0C0C0C;

  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
  --background-reward-value: linear-gradient(90deg, #B0E7FF 0%, #F5C4FF 100%);
  view-transition-name: none;
}

html[data-theme="dark"] {
  background-color: #000000;
  color: #ffffff;
  --color-reward-value: #FFF881;
  --background-reward-value: rgba(255, 255, 255, 0.08);
}

body {
  width: 100%;
  height: 100%;
}

main {
  view-transition-name: root;
}

@keyframes move-out {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-100%);
  }
}

@keyframes move-in {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0%);
  }
}

::view-transition-old {
  animation: 0.4s ease-in both move-out;
}

::view-transition-new {
  animation: 0.4s ease-in both move-in;
}

h1 {
  font-family: "logo font", "Montserrat", serif;
  font-size: 1.2em;
  font-weight: 250;
  white-space: nowrap;
  transform: scale(.8, 1);
}

h2 {
  font-size: 15px;
}

h3 {
  font-size: 16px;
  font-weight: normal;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 32px;
}

p {
  font-size: 12px;
}

input[type="radio"]:checked + label::before {
  visibility: hidden;
  height: 0;
  width: 0;
}

h6 {
  white-space: nowrap;
  font-size: 10px;
  font-weight: normal;
  color: var(--color-reward-value);
  height: fit-content;
  width: fit-content;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fit-content {
  width: fit-content;
  height: fit-content;
}

.friends-counter {
  display: flex;
  color: #FFFFFF;
  width: 30px;
  height: 30px;
  align-items: center;
  justify-content: center;
  @include container-color(#5E6065, 2vw);
}

.text-litle-container {
  font-size: 10px;
}

.gradient-border::before {
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  padding: var(--padding);
  background: var(--border-gradient);
  border-radius: var(--border-radius);
  -webkit-mask: -webkit-linear-gradient(90deg, white 0, white 100%);
  mask:
          linear-gradient(90deg, white 0, white 100%) content-box,
          linear-gradient(90deg, white 0, white 100%);
  mask-composite: exclude;
  -webkit-mask-composite: destination-out;
}