@use "theme";
@import "@/common/mixins.scss";

:root {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: fixed;

  background-color: #ffffff;
  color: #000000;
  --color-reward-value: #0C0C0C;

  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
  --background-reward-value: linear-gradient(90deg, #B0E7FF 0%, #F5C4FF 100%);
  view-transition-name: none;
}

html[data-theme="dark"] {
  background-color: #000000;
  color: #ffffff;
  --color-reward-value: #FFF881;
  --background-reward-value: rgba(255, 255, 255, 0.08);
}

body {
  width: 100%;
  height: 100%;
}

main {
  view-transition-name: root;
}

@keyframes move-out {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-100%);
  }
}

@keyframes move-in {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0%);
  }
}

::view-transition-old(root) {
  animation: 0.4s ease-in both move-out;

}

::view-transition-new(root) {
  animation: 0.4s ease-in both move-in;
}

h1 {
  font-family: "logo font", "Montserrat", serif;
  font-size: 1.2em;
  font-weight: 250;
  white-space: nowrap;
  transform: scale(.8, 1);
}

h2, h3, label {
  font-family: sans-serif;
  font-size: 1em;
  font-weight: bold;
}

h3 {
  font-size: 1.2em;
}

h2.center {
  display: inline-flex;
  height: min-content;
  align-items: center;
  justify-content: center;
  font-size: 2.5vh;
}

p {
  font-size: 0.8em;
}

span.highlight {
  color: var(--color-text-reward);
  transition: color 0.5s ease-in-out;
  font-size: 1em;
  font-weight: bold;
}

input {
  font-size: 1.7vh;
  font-weight: bold;
  border: 1px solid var(--color-text-reward);
  border-radius: 8px;
  padding: 8px;
  color: var(--color-text-reward);
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
  background: rgba(255, 255, 255, 0.08);
}

button {
  font-size: 1.7vh;
  font-weight: bold;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid var(--color-text-reward);
  color: var(--color-text-reward);
  background: rgba(255, 255, 255, 0.08);
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

.fit-conteiner {
  width: fit-content;
  height: fit-content;
}

.text-litle-container {
  font-size: 0.7em;
}

.friends-counter {
  display: flex;
  color: #FFFFFF;
  width: 30px;
  height: 30px;
  align-items: center;
  justify-content: center;
  @include container-color(#5E6065, 2vw);
}

.card {
  font-family: sans-serif;
  font-size: 2.1vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 2vh;
  height: fit-content;
  background: #0e0c10;
  border: 1px solid rgba(255, 255, 255, 0.03);
  border-radius: 13px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

a.card:hover {
  border: 1px solid var(--color-text-reward);
  cursor: pointer;
}

@media only screen and (orientation: landscape) {
  body {
    transform: rotate(90deg);
  }
}