BOT_TOKEN=
SESSION_KEY=complex_password_at_least_32_characters_long

# See the documentation for all the connection string options: https://pris.ly/d/connection-strings
DATABASE_URL="postgresql://devcontainer:devcontainer@localhost:5432/moon_base?schema=public"

APP_URL="ddharassmentbot/moon/app"