@import "../mixins";

.tasks__items {
  display: flex;
  margin-top: 1vh;
  justify-content: start;
  column-gap: 3vw;

  .task__gradient {
    @include create-gradient(var(--tasks-background-news-gradient));

    .task__item {
      display: grid;
      grid-template-areas: "image text"
                           "image award";
      grid-template-columns: repeat(2, min-content);
      justify-items: start;
      justify-content: center;
      min-width: 43vw;
      column-gap: 1.5vw;
      row-gap: 0.8vh;
      align-items: center;
      padding: 2vh 2vw;
      height: 100%;
      @include create-container(var(--tasks-background-tasks-news));

      .task__image {
        grid-area: image;
      }

      .task__text {
        @include text-theme(2vh, var(--tasks-text-gradient))
      }

      .task__award {
        @include text-award(var(--tasks-text-award), var(--tasks-background-text-award))
      }
    }
  }
}