@font-face {
  font-family: "logo font";
  src: url("../../../public/fonts/LogoRegular.ttf") format("truetype");
}

.home-page {
  display: grid;
  grid-template-rows: repeat(3, min-content);

  .header-container {
    display: flex;
    justify-content: space-between;
    margin: 8vh 4vw 8vh 6vw;

    .header-content {
      display: flex;
      align-items: center;
      width: min-content;

      .header-logo {
        background: url(../../../public/images/home/header_image.png) no-repeat center center;
        background-size: contain;
        width: 8vw;
        height: 4vh;
      }

      .header-text {

      }
    }
  }

  .main-container {
    display: grid;
    grid-template-rows: auto;
    background: linear-gradient(90deg, var(--background-home-content-gradient-color1) 45%, var(--background-home-content-gradient-color2) 120%);
    transition: --background-home-content-gradient-color1 0.5s ease-in-out, --background-home-content-gradient-color2 0.5s ease-in-out;
    box-shadow: #0C0C0C 0 0 3vw;
    border-radius: 2vw;
    position: relative;
    width: 90%;
    margin: 1vh auto;
    padding: 1vh 1vh;

    .main-content {
      display: grid;
      grid-template-areas: "text"
                           "text"
                           "text";
      row-gap: 1vh;
    }

    .fox-image {
      position: absolute;
      background: url(../../../public/images/home/fox.png) no-repeat;
      background-size: contain;
      width: 38vw;
      height: 20vh;
      transform: translate(17%, -45%);
      right: 0;
      top: 0;
    }

    .invitation-container {
      background: linear-gradient(180deg, var(--background-invitation-gradient-color1) 0, var(--background-invitation-gradient-color2) 100%) center center no-repeat;
      transition: --background-invitation-gradient-color1 0.5s ease-in-out, --background-invitation-gradient-color2 0.5s ease-in-out;
      border-radius: 4vw;
      padding: 1.5px;
      margin-top: 2vh;
      margin-bottom: 1vh;

      .invitation-telegram {
        display: flex;
        align-items: center;
        justify-content: center;
        background: var(--background-invitation);
        transition: --background-invitation 0.5s ease-in-out;
        padding: 2vh 0;
        column-gap: 2vw;
        border-radius: 4vw;

        .telegram-logo {
          background: url(../../../public/images/home/telegram_logo.svg) no-repeat center center;
          background-size: contain;
          width: 6vw;
          height: 6vw;
        }

        .invitation-text {
          font-size: 2.3vh;
          background: var(--color-text-invitation);
          -webkit-text-fill-color: transparent;
          -webkit-background-clip: text;
        }
      }
    }
  }

  .footer-container {
    display: grid;
    grid-template-areas: "clock"
                         "text"
                         "timer";
    justify-items: center;
    grid-template-rows: auto;

    .clock-icon {
      background: url(../../../public/images/home/clock.png) no-repeat center center;
      background-size: contain;
      width: 20vw;
      height: 12vh;
    }

    .footer-text {
      color: var(--color-text)
    }

    .footer-timer {
      display: flex;
      column-gap: 2%;
      justify-content: center;
      align-items: center;
      height: 7vh;
      width: 70vw;

      .timer-number {
        display: flex;

        .number {
          background: var(--background-timer);
          border: 1px solid rgba(255, 255, 255, 0.11);
          font-weight: bold;
          border-radius: 2vw;
          padding: 1vw 2vw 1vw 2vw;
        }
      }

      .timer-title {
        font-size: 80%;
        color: var(--color-text-home-timer);
      }
    }
  }
}