@import "@/components/pages/common/components/styles/mixins.scss";

.rating-item {
  display: grid;
  height: 85%;
  overflow: hidden;
  margin: 0 auto;
  row-gap: 1vh;

  .rating-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .rating-list {
    display: grid;
    height: 80vh;
    overflow-y: auto;
    scrollbar-width: none;
    row-gap: 1.2vh;

    .user-rating-border {
      @include container-color(var(--rating-border-color-user), 3vw, 1px);

      .rating-user {
        display: flex;
        @include container-color(var(--rating-background-color-user), 3vw, 1vh 2vw);
        align-items: center;
        column-gap: 1vw;

        .user-item {
          display: flex;
          align-items: center;
          color: #FFFFFF;
          width: 100%;
          white-space: nowrap;

          .user-index {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 2vw;
            height: 4vh;
            width: 7.5vw;
            background: #5E6065;
            border-radius: 2vw;
          }
        }
      }
    }
  }
}