@import "@/components/pages/common/components/styles/mixins.scss";

.rating-item {
  display: grid;
  height: 85%;
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
  row-gap: 1vh;

  .rating-header {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
  }

  .rating-header:last-child {
    justify-self: end;
  }

  .rating-list {
    display: flex;
    flex-direction: column;
    height: 80vh;
    overflow-y: auto;
    scrollbar-width: none;
    row-gap: 1.2vh;

    .user-rating-border {
      @include container-color(var(--rating-border-color-user), 3vw, 1px);

      height: min-content;

      .rating-user {
        display: flex;
        @include container-color(var(--rating-background-color-user), 3vw, 1vh 2vw);
        align-items: center;
        column-gap: 1vw;

        .user-item {
          display: flex;
          align-items: center;
          color: #ffffff;
          width: 100%;
          white-space: nowrap;

          .user-profile-picture {
            border-radius: 13px;
          }

          .user-index {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 2vw;
            width: 7.5vw;
            background: #5e6065;
            border-radius: 2vw;
            padding: 4px 10px;
          }
        }
      }
    }
  }
}