@import "@/common/mixins.scss";

.rating-item {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 85%;
  width: 90%;
  margin: 0 auto;
  row-gap: 1vh;

  .rating-header {
    display: flex;
    justify-content: space-between;
  }

  .rating-list {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    scrollbar-width: none;
    height: 55vh;
    row-gap: 1.2vh;

    .rating-user {
      display: flex;
      align-items: center;
      padding: 1vh 3vw;
      border-radius: 2vw;
      background: var(--rating-container-background);

      .user-item {
        display: flex;
        align-items: center;
        column-gap: 2vw;
        width: 100%;

        .user-profile-picture {
          border-radius: 2vw;
        }
      }

      .reward {
        background: var(--background-reward-value);
        border-radius: 2vw;
        padding: 0.5vh 2vw;
      }

      .reward-border {
        position: relative;
        --padding: 1px;
        --border-radius: 2vw;
        --border-gradient: var(--profile-border-reward);
      }
    }

    .rating-user-border {
      position: relative;
      --padding: 1px;
      --border-radius: 2vw;
      --border-gradient: var(--rating-container-border)
    }
  }
}
