.menu__items {
  display: flex;
  width: 85%;
  background: var(--background-menu) no-repeat center bottom;
  background-size: contain;
  justify-content: center;
  margin-bottom: 1.5vh;
  column-gap: 5%;

  .menu__item {
    display: grid;
    grid-template-areas: "button"
                       "condition";
    grid-template-columns: min-content;
    grid-template-rows: 1fr auto;
    align-items: center;
    justify-items: center;

    .menu__container {
      display: grid;
      justify-items: center;
      row-gap: 0.5vh;

      .item__icon {
        width: 7vw;
        height: 3.5vh;
      }

      .item__text {
        font-size: 1.8vh;
        color: var(--color-text-menu);
      }

      .quiz__icon {
        background: var(--background-menu-icon-quiz);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
      }

      .tasks__icon {
        background: var(--background-menu-icon-tasks);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
      }

      .home__icon {
        background: var(--background-menu-icon-home);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
      }

      .rating__icon {
        background: var(--background-menu-icon-rating);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
      }

      .profile__icon {
        background: var(--background-menu-icon-profile);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
      }

      .active__home {
        background: var(--background-menu-icon-home-active);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
      }

      .active__quiz {
        background: var(--background-menu-icon-quiz-active);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
      }

      .active__tasks {
        background: var(--background-menu-icon-tasks-active);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
      }

      .active__rating {
        background: var(--background-menu-icon-rating-active);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
      }

      .active__profile {
        background: var(--background-menu-icon-profile-active);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
      }
    }

    .active {
      position: relative;
      bottom: 1.5vh;
    }

    .menu__condition {
      background: var(--condition-menu-active);
      background-repeat: no-repeat;
      background-position: center bottom;
      background-size: contain;
      width: 100%;
      height: 1vh;
    }
  }
}