.friends-container {
  display: flex;
  align-items: center;
  column-gap: 1vw;
  margin-bottom: 2vh;

  .container {
    display: flex;
    align-items: center;
    background: #2facff;
    border-radius: var(--border-radius-regular);
    padding: 2vh 0;
  }

  .container-border {
    position: relative;
    --padding: 1px;
    --border-radius: var(--border-radius-regular);
    --border-gradient: var(--profile-invitions-border);
  }

  .invitation {
    display: flex;
    width: 83%;
    justify-content: center;
    column-gap: 2.5vw;
    font-size: 2.5vh;
    color: #ffffff;
  }

  .copy-link {
    display: flex;
    width: 17%;
    justify-content: center;
  }
}