.friends__container {
  display: flex;
  align-items: center;
  column-gap: 1vw;
  margin-bottom: 2vh;

  .container {
    display: flex;
    align-items: center;
    background: #2FACFF;
    padding: 2vh 0 2vh 0;
    border-radius: 3vw;
  }

  .invitation {
    display: flex;
    width: 83%;
    border: 1px solid #A1D9FF;
    justify-content: center;
    column-gap: 2.5vw;
    font-size: var(--font-size-text-invitation);
    color: var(--color-text-invitation);
  }

  .copy_link {
    display: flex;
    width: 17%;
    justify-content: center;
    border: 1px solid #A1D9FF;
  }
}