
@mixin text-award($color, $background) {
    font-size: 1.4vh;
    white-space: nowrap;
    color: $color;
    background: $background;
    border-radius: 2vw;
    padding: 0.7vw 2vw;
    width: fit-content;
    height: fit-content;
}

@mixin text-theme($sizes, $background) {
    font-size: $sizes;
    font-weight: bold;
    background: $background;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

@mixin create-container($background) {
    background: $background;
    border-radius: 2vw;
    height: 100%;
}

@mixin create-gradient($background) {
    background: $background;
    border-radius: 2vw;
    padding: 1px;
}