.rating-page {
  display: grid;
  grid-template-rows: min-content auto;
  overflow: hidden;

  .header-conrainer {
    display: grid;
    justify-items: center;
    width: 90%;
    margin: 3vh auto;
  }
}