.footer__contrainer {
    display: grid;
    grid-template-areas: "menu"
                         "text";
    grid-template-rows: 1fr auto;
    justify-items: center;

    .footer__text {
        display: flex;
        color: #FFFFFF;
        background: linear-gradient(90deg, #3A6ABB -120%, black);
        width: 100%;
        align-items: center;
        justify-content: center;
        padding: 1% 0 1% 0;
        font-size: 2vh;
        column-gap: 1vw;
    }

    .footer__text:after {
        content: " MOON";
        font-weight: bold;
        background: radial-gradient(at left top, rgba(134, 241, 173, 1), rgba(141, 190, 253, 1), rgba(224, 170, 238, 1) 50%) no-repeat;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
    }
}