.tasks-page {
  display: grid;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  grid-template-rows: repeat(3, min-content);
  width: 90%;
  margin: 0 auto;

  .header-container {
    display: flex;
    margin: 3vh 0;
    justify-content: center;

    .header-text {
      display: grid;
      justify-items: center;

      .text-normal {
        font-size: 3vh;
        font-weight: bold;
        color: var(--tasks-color-text);
      }

      .text-color {
        font-size: 3vh;
        font-weight: bold;
        color: var(--tasks-header-text-color);
      }
    }
  }

  .main-container {
    display: grid;
    row-gap: 2vh;

    .tasks-news {
      display: grid;
      row-gap: 1vh;
    }

    .tasks-partners {
      display: grid;
      row-gap: 1vh;
    }
  }
}