html {
  --tasks-text-color: #0c0c0c;
  --tasks-header-text-color: #083d8d;
  --tasks-border: linear-gradient(90deg, #b0e7ff 0%, #f5c4ff 100%);
  --tasks-refferal-item-border: linear-gradient(90deg, #b0e7ff 0%, #f5c4ff 100%);
  --tasks-background: #ffffff;
  --tasks-link-border-reward: #0c0c0c;
  --tasks-link-background-reward: linear-gradient(90deg, #8dbefd -20%, #e0aaee 60%);
  --task-link-background: none;
  --tasks-partner-link: #0c0c0c;
  --tasks-partner-border-link: linear-gradient(90deg, #8dbefd -20%, #e0aaee 60%);
  --tasks-friends-counter-border: #1b1e23;
  --tasks-friends-counter-background: #ffffff;
  --tasks-partner-background-link: none;
}

html[data-theme="dark"] {
  --tasks-text-color: #ffffff;
  --tasks-header-text-color: #8dfafa;
  --tasks-border: #1b1e23;
  --tasks-background: #0c0c10;
  --tasks-link-border-reward: #0c0c10;
  --tasks-link-background-reward: #1b1e23;
  --tasks-link-background: #0c0c10;
  --tasks-friends-counter-border: linear-gradient(90deg, #86f1ad 0%, #8dbefd 30%, #e0aaee 100%);
  --tasks-friends-counter-background: #0c0c0c;
  --tasks-partner-link: linear-gradient(90deg, #8dbefd -20%, #e0aaee 60%);
  --tasks-partner-border-link: linear-gradient(90deg, #8dbefd -20%, #e0aaee 60%);
  --tasks-partner-background-link: #0c0c10;
}