@import "../mixins";

.tasks-items {
  display: flex;
  margin-top: 1vh;
  justify-content: start;
  column-gap: 3vw;
  overflow-x: scroll;

  .task-gradient {
    @include create-gradient(var(--tasks-background-news-gradient));

    cursor: pointer;

    .task-item {
      display: grid;
      grid-template-areas: "image text"
                           "image award";
      grid-template-columns: repeat(2, min-content);
      justify-items: start;
      justify-content: center;
      column-gap: 1.5vw;
      row-gap: 0.8vh;
      align-items: center;
      padding: 2vh 2vw;
      height: 100%;
      @include create-container(var(--tasks-background-tasks-news));

      .task-image {
        grid-area: image;
      }

      .task-text {
        @include text-theme(2vh, var(--tasks-text-gradient))
      }
    }
  }
}