@font-face {
  font-family: "logo font";
  src: url(/fonts/logoRegular.ttf) format("truetype");
}

@property --home-main-background {
  syntax: "<image>";
  initial-value: #ffffff;
  inherits: true;
}

@property --home-border-invitation-color1 {
  syntax: "<color>";
  initial-value: #9abfff;
  inherits: true;
}

@property --home-border-invitation-color2 {
  syntax: "<color>";
  initial-value: #133870;
  inherits: true;
}

@property --home-background-invitation-telegram {
  syntax: "<color>";
  initial-value: #2facff;
  inherits: true;
}

.highlight-text {
  color: var(--home-text-reward);
}

html {
  --home-text-reward: #0057db;
  --home-text-invitation-telegram: #ffffff;
  --home-background-timer: rgba(0, 0, 0, 0.06);
  --home-border-invitation-telegram: linear-gradient(90deg, var(--border-invitation-color1), var(--border-invitation-color2));
}


html[data-theme="dark"] {
  --home-text-reward: #8dfafa;
  --home-background-timer: rgba(0, 0, 0, 0.34);
  --home-text-invitation-telegram: linear-gradient(90deg, #b0e7ff, #f5c4ff);
  --home-main-background: linear-gradient(90deg, #0e0c10, 75%, #085de9 100%);
  --home-background-invitation-telegram: rgba(0, 0, 0, 0.53);
  --home-border-invitation-telegram: linear-gradient(90deg, #b0e7ff, #f5c4ff);
}