@import "../../../common/mixins.scss";

@font-face {
  font-family: "logo font";
  src: url(../../../../public/fonts/logoRegular.ttf) format("truetype");
}

.home-page {
  display: grid;
  grid-template-rows: min-content auto 1fr;
  row-gap: 1vh;

  .header-container {
    display: grid;
    grid-template-areas: "logo theme"
                        "logo language";
    justify-content: space-between;
    margin: 3vh 5vw 7.5vh;
    row-gap: 1vh;

    .header-content {
      grid-area: logo;
      display: flex;
      align-items: center;
      width: min-content;

      .header-logo {
        background-size: contain;
        width: 30px;
        height: 30px;
      }
    }
  }

  .main-container-border {
    @include container-color(--border-container-content, 3vw, 1px);
    width: 90%;
    margin: 0 auto;

    .main-container-background {
      display: grid;
      grid-template-rows: 1fr auto;
      grid-template-areas: "content image"
                           "invite invite";
      grid-template-columns: 75% 25%;
      box-shadow: #0c0c0c 0 0 3vw;
      row-gap: 2vh;

      @include container-color(var(--background-container-content), 3vw, 0.8vh 2vw);
      transition: var(--color-black) 0.5s ease-in-out, var(--color-blue) 0.5s ease-in-out;

      .main-content {
        grid-area: content;
        display: grid;
        grid-template-rows: repeat(3, min-content);
        grid-template-areas: "text"
                             "text"
                             "text";
        row-gap: 1vh;
      }

      .fox-image {
        position: relative;
        grid-area: image;
        background-size: contain;
        transform: translate(0, -45%);
        left: -15px;
        width: 120px;
        height: 137px;
      }

      .invitation-container-border {
        grid-area: invite;
        @include container-color(linear-gradient(180deg, var(--border-invitation-color1) 0, var(--border-invitation-color2) 100%), 4vw, 1px);

        .invitation-telegram {
          display: flex;
          align-items: center;
          justify-content: center;
          @include container-color(var(--background-invitation), 4vw, 2vh 0);
          transition: var(--background-invitation) 0.5s ease-in-out;
          column-gap: 2vw;

          .telegram-logo {
            background-size: contain;
            width: 20px;
            height: 20px;
          }

          .invitation-text {
            font-size: 1.2em;
            @include text-color(var(--color-text-invitation));
          }
        }
      }
    }
  }

  .footer-container {
    position: relative;
    display: grid;
    align-content: center;
    grid-template-rows: repeat(3, min-content);
    grid-template-areas: "clock"
                         "text"
                         "timer";
    justify-items: center;
    bottom: 1vh;
    row-gap: 2vh;

    .clock-icon {
      background-size: contain;
      width: 70px;
      height: 70px;
    }

    .footer-text {
      color: var(--color-text)
    }

    .footer-timer {
      display: flex;
      column-gap: 2%;
      justify-content: center;
      align-items: center;
      height: 7vh;
      width: 70vw;

      .timer-number {
        display: flex;

        .number {
          @include container-color(var(--background-timer), 2vw, 1vw 2vw);
          background: var(--background-timer);
          border: 1px solid rgba(255, 255, 255, 0.11);
          font-weight: bold;
        }
      }

      .timer-title {
        font-size: 80%;
        color: var(--color-text-home-timer);
      }
    }
  }
}