@import "@/common/mixins.scss";

.home-page-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 24px auto 0;

  .header {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 70px;

    .header-main {
      display: grid;
      grid-template-columns: 1fr auto;
      align-items: center;
      grid-template-areas: "logo theme"
                        "logo language";

      .header-content {
        grid-area: logo;
        display: flex;
        flex-direction: row;
        align-items: center;

        .logo {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;

          width: 48px;
          height: 48px;
          border-radius: 15px;
          border: 1px solid var(--home-logo-border);
        }
      }
    }
  }

  .main {
    display: grid;
    grid-template-areas: "content image"
                         "invite invite";
    grid-template-columns: 75% 25%;
    background: var(--home-main-background);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    border-radius: var(--border-radius-regular);
    padding: 1vh 2vw;
    row-gap: 1vh;

    .main-content {
      grid-area: content;
      display: flex;
      flex-direction: column;
      row-gap: 1vh;
    }

    .fox-image {
      grid-area: image;
      position: relative;
      background-size: contain;
      transform: translate(0, -45%);
      left: -15px;
      width: 120px;
      height: 137px;
    }

    .invitation-telegram {
      grid-area: invite;
      display: flex;
      padding: 2vh 0;
      justify-content: center;
      column-gap: 1vw;
      background: var(--home-background-invitation-telegram);
      border-radius: 3vw;

      .invitation-telegram-text {
        font-weight: 500;
        @include text-color(var(--home-text-invitation-telegram));
      }
    }

    .invitation-telegram-border {
      position: relative;
      --padding: 1px;
      --border-radius: 3vw;
      --border-gradient: var(--home-border-invitation-telegram)
    }
  }

  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    row-gap: 1vh;

    .clock-icon {
      background-size: contain;
      width: 70px;
      height: 70px;
    }

    .footer-timer {
      display: flex;
      column-gap: 8px;
      justify-content: center;
      align-items: center;

      .timer-data {
        display: flex;

        .data {
          display: flex;
          flex-wrap: wrap;
          align-content: center;
          justify-content: center;
          background: var(--home-background-timer);
          height: 35px;
          width: 30px;
          border: 1px solid;
          border-image-source: linear-gradient(180deg, rgba(255, 255, 255, 0.11) 0%, rgba(255, 255, 255, 0.03) 100%);
          border-radius: 8px;
          padding: 10px;
        }
      }

      .timer-title {
        font-weight: normal;
      }
    }
  }
}