@font-face {
  font-family: "logo font";
  src: url("/fonts/LogoRegular.ttf") format("truetype");
}

.home-page {
  display: grid;
  grid-template-rows: min-content auto 1fr;
  row-gap: 1vh;

  .header-container {
    display: grid;
    grid-template-areas: "logo theme"
                        "logo language";
    justify-content: space-between;
    row-gap: 1vh;
    margin: 3vh 5vw 5vh;

    .header-content {
      grid-area: logo;
      display: flex;
      align-items: center;
      width: min-content;

      .header-logo {
        background-size: contain;
        width: 30px;
        height: 30px;
      }
    }
  }

  .main-container {
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-areas: "content image"
                         "invite invite";
    grid-template-columns: 75% 25%;
    background: linear-gradient(90deg, var(--background-home-content-gradient-color1) 45%, var(--background-home-content-gradient-color2) 120%);
    transition: --background-home-content-gradient-color1 0.5s ease-in-out, --background-home-content-gradient-color2 0.5s ease-in-out;
    box-shadow: #0c0c0c 0 0 3vw;
    border-radius: 2vw;
    position: relative;
    width: 90%;
    margin: 1vh auto;
    padding: 1vh 1vh;

    .main-content {
      grid-area: content;
      display: grid;
      grid-template-rows: repeat(3, min-content);
      row-gap: 1vh;
      grid-template-areas: "text"
                           "text"
                           "text";
    }

    .fox-image {
      position: relative;
      grid-area: image;
      background-size: contain;
      transform: translate(0, -45%);
      left: -15px;
      width: 120px;
      height: 137px;
    }

    .invitation-container {
      grid-area: invite;
      background: linear-gradient(180deg, var(--background-invitation-gradient-color1) 0, var(--background-invitation-gradient-color2) 100%) center center no-repeat;
      transition: --background-invitation-gradient-color1 0.5s ease-in-out, --background-invitation-gradient-color2 0.5s ease-in-out;
      border-radius: 4vw;
      padding: 1.5px;
      margin-top: 2vh;
      margin-bottom: 1vh;

      .invitation-telegram {
        display: flex;
        align-items: center;
        justify-content: center;
        background: var(--background-invitation);
        transition: --background-invitation 0.5s ease-in-out;
        padding: 2vh 0;
        column-gap: 2vw;
        border-radius: 4vw;

        .telegram-logo {
          background-size: contain;
          width: 20px;
          height: 20px;
        }

        .invitation-text {
          font-size: 2.3vh;
          background: var(--color-text-invitation);
          -webkit-text-fill-color: transparent;
          -webkit-background-clip: text;
        }
      }
    }
  }

  .footer-container {
    position: relative;
    display: grid;
    align-content: center;
    grid-template-rows: repeat(3, min-content);
    grid-template-areas: "clock"
                         "text"
                         "timer";
    row-gap: 2vh;
    bottom: 1vh;
    justify-items: center;

    .clock-icon {
      background-size: contain;
      width: 70px;
      height: 70px;
    }

    .footer-text {
      color: var(--color-text)
    }

    .footer-timer {
      display: flex;
      column-gap: 2%;
      justify-content: center;
      align-items: center;
      height: 7vh;
      width: 70vw;

      .timer-number {
        display: flex;

        .number {
          background: var(--background-timer);
          border: 1px solid rgba(255, 255, 255, 0.11);
          font-weight: bold;
          border-radius: 2vw;
          padding: 1vw 2vw 1vw 2vw;
        }
      }

      .timer-title {
        font-size: 80%;
        color: var(--color-text-home-timer);
      }
    }
  }
}