@property --border-container-content {
  syntax: '<color>';
  initial-value: #E7E7E7;
  inherits: true;
}

@property --background-container-content {
  syntax: '<image>';
  initial-value: #FFFFFF;
  inherits: true;
}

@property --border-invitation-color1 {
  syntax: '<color>';
  initial-value: #9ABFFF;
  inherits: true;
}

@property --border-invitation-color2 {
  syntax: '<color>';
  initial-value: #133870;
  inherits: true;
}

@property --background-invitation {
  syntax: '<color>';
  initial-value: #2FACFF;
  inherits: true;
}

html[data-theme="dark"] {
  --color-blue: #085DE9;
  --color-black: #0E0C10;

  --color-text-home: #FFFFFF;
  --color-text-reward: #8DFAFA;
  --color-text-invitation: linear-gradient(90deg, #B0E7FF 0, #F5C4FF 100%);

  --border-container-content: rgba(14, 12, 16, 1);

  --background-invitation: rgba(14, 12, 16, 1);
  --background-container-content: linear-gradient(90deg, var(--color-black), 75%, var(--color-blue) 100%);
  --background-timer: rgba(0, 0, 0, 0.34);
}

html {
  --color-text: #0C0C0C;
  --color-text-reward: #0057DB;
  --color-text-invitation: #FFFFFF;

  --background-timer: rgba(0, 0, 0, 0.06);
}
