.switch {
  display: grid;
  grid-template-areas: "text"
                       "icon";
  align-items: center;
  justify-items: center;

  .theme__icon {
    background: var(--switcher-theme) no-repeat center center;
    background-size: contain;
    width: 8vw;
    height: 4vh;
  }
}

p.theme_text {
  white-space: nowrap;
  font-size: 1.3vh;
}