@import "../mixins";

.partners__list {
  display: grid;
  row-gap: 1vh;

  .background__partners_item {
    @include create-gradient(var(--tasks-background-partners-gradient));

    .partners__item {
      display: grid;
      grid-template-areas: "image text link"
                           "image award link";
      @include create-container(var(--tasks-background-partners));
      padding: 1vh 0;
      border-radius: 2vw;
      align-items: center;
      justify-items: start;

      .partners__image {
        grid-area: image;
        margin: 0 auto;
      }

      .partners__text {
        grid-area: text;
        @include text-theme(2vh, var(--tasks-text-gradient))
      }

      .partners__award {
        grid-area: award;
        @include text-award(var(--tasks-text-award), var(--tasks-background-text-award))
      }

      .partners__link_background_one {
        display: flex;
        grid-area: link;
        border-radius: 3vw;
        margin: 0 auto;
        @include create-gradient(var(--task-background-container-link-gradient));

        .partners__link_background_two {
          padding: 1vh 2vw;
          border-radius: 3vw;
          opacity: 0.97;
          @include create-container(var(--tasks-background-partners));

          .partners__link {
            @include text-theme(2vh, var(--tasks-text-gradient))
          }
        }
      }
    }
  }
}