@import "../style/dark.css";
@import "../style/light.css";

html[data-theme='dark'] {
    --tasks-text: var(--color-text-tasks-dark);
    --tasks-text-gradient: var(--tasks-text-gradient-dark);
    --tasks-text-award: var(--tasks-text-award-dark);
    --tasks-background-text-award: var(--tasks-background-text-award-dark);
    --tasks-background-partners-gradient: var(--tasks-background-container-gradient-dark);
    --tasks-background-partners: var(--tasks-background-container-dark);
    --tasks-background-partners-link: var(--tasks-background-partners-link-dark);
    --task-background-container-link-gradient: var(--task-background-container-link-gradient-dark);
    --task-background-container-link: var(--task-background-container-link-dark);

}

html[data-theme='light'] {
    --tasks-text: var(--color-text-tasks-light);
    --tasks-text-gradient: var(--tasks-text-gradient-light);
    --tasks-text-award: var(--tasks-text-award-light);
    --tasks-background-text-award: var(--tasks-background-text-award-light);
    --tasks-background-partners-gradient: var(--tasks-background-container-gradient-light);
    --tasks-background-partners: var(--tasks-background-container-light);
    --tasks-background-partners-link: var(--tasks-background-partners-link-light);
    --task-background-container-link-gradient: var(--task-background-container-link-gradient-light);
    --task-background-container-link: var(--task-background-container-link-light);
}