@import "../mixins";

.friends-container {
  height: 26vh;
  margin-top: 2vh;
  overflow-x: hidden;
  @include create-gradient(var(--tasks-background-refferal-gradient));

  .background-container {
    display: grid;
    @include create-container(var(--tasks-background-refferal));

    .friends-invitations {
      display: flex;
      align-items: center;
      column-gap: 1vw;
      margin: 0 2vw;

      .invitations-text {
        font-size: 1.8vh;
        font-weight: bold;
        @include text-theme(1.8vh, var(--tasks-text-gradient));
      }
    }

    .invitations-count {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0 2vw;

      .invitations-count_text {
        font-size: 1.8vh;
        color: var(--tasks-text);
      }

      .invitations-count_counter {
        @include text-theme(1.8vh, var(--tasks-text-gradient));
        opacity: 0.8;
        font-weight: bold;
        border: 1.3px solid #0C0C0C;
        padding: 0 6vw;
        border-radius: 4vw;
      }
    }

    .friends-items {
      display: flex;
      overflow-x: auto;
      scrollbar-width: none;
      column-gap: 1.7vw;
      margin: 2vh 2vw;

      .items-background {
        @include create-gradient(var(--tasks-background-refferal-gradient));

        .friends-item {
          display: grid;
          grid-template-areas:
            "count image"
            "award award";
          justify-items: center;
          align-items: center;
          padding: 1vh 2.5vw;
          column-gap: 1vw;
          @include create-container(var(--tasks-background-refferal));

          .friends-image {
            grid-area: image;
          }

          .friends-count {
            font-size: 2vh;
            font-weight: bold;
            white-space: nowrap;
          }

          .friends-count {
            grid-area: count;
            color: var(--tasks-text);
          }

          .friends-award {
            grid-area: award;
            @include text-award(var(--tasks-text-award), var(--tasks-background-text-award));
          }
        }
      }
    }
  }
}
