html {
    --tasks-text-award-light: #0C0C0C;
    --color-text-tasks-light: #0C0C0C;
    --tasks-text-gradient-light: #0C0C0C;
    --tasks-background-container-light: #FFFFFF;
    --tasks-background-text-award-light: linear-gradient(90deg, #B0E7FF 0%, #F5C4FF 50%);
    --tasks-background-container-gradient-light: linear-gradient(90deg, #B0E7FF 0%, #F5C4FF 100%);
    --task-background-container-link-gradient-light: linear-gradient(90deg, #B0E7FF 0%, #F5C4FF 100%);
    --task-background-container-link-light: none
}