.rating__item {
  overflow: hidden;
  height: 85%;
  width: 90%;
  margin: 5vh auto 0 auto;

  .rating__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .rating__list {
    display: grid;
    grid-template-columns: 1fr;
    height: calc(100vh - 20vh);
    overflow-y: auto;
    scrollbar-width: none;
    margin-top: 2vh;
    row-gap: 1.2vh;

    .user_rating_border {
      background: var(--rating-border-color-user);
      border-radius: 2vw;
      padding: 1px;

      .rating__user {
        display: flex;
        background: var(--rating-background-color-user);
        align-items: center;
        justify-content: space-between;
        border-radius: 2vw;
        padding: 1vh 1vh;
        column-gap: 1vw;

        .user__item {
          display: flex;
          align-items: center;
          color: #FFFFFF;
          width: fit-content;
          white-space: nowrap;
        }

        .user__award {
          display: flex;
          justify-content: center;
          font-size: 1.5vh;
          color: var(--rating-text-color-award-theme);
          background: var(--rating-background-color-award);
          border-radius: 2vw;
          white-space: nowrap;
          padding: 0.3vh 1.5vw;
        }
      }
    }
  }
}