@import "@/common/mixins.scss";

.quiz_page {
  display: grid;
  grid-template-rows: auto 1fr;
  align-items: center;
  margin-top: 5vh;
  overflow: hidden;

  .header__conrainer {
    display: grid;
    height: fit-content;
    justify-items: center;

    .header__text {
      font-size: 2.6vh;
      font-weight: normal;
      white-space: nowrap;
    }

    .text__color {
      color: var(--quiz-text-color-header-theme)
    }

    .QuizUndefined {
      display: grid;
      align-content: center;
      justify-items: center;
      width: 80%;
      margin: 0 auto;
      row-gap: 3vh;

      .quizBorder {
        @include container-color(var(--quiz-border), 3vw, 1px);

        .quizBackground {
          @include container-color(var(--quiz-background), 3vw);

          .quizContent {
            display: grid;
            width: 80%;
            margin: 0 auto;
            justify-items: center;
            text-align: center;
            padding: 4.5vh 3vw;
            row-gap: 2vh;

            .textContent {
              @include text-color(var(--quiz-text))
            }
          }
        }
      }
    }
  }

  .quiz__list {
    display: flex;
    height: 80%;
    align-items: center;
    overflow: hidden;
  }
}