@import "@/components/pages/common/components/styles/mixins.scss";

.quiz_page {
  display: grid;
  grid-template-rows: auto 1fr;
  align-items: center;
  margin-top: 5vh;
  overflow: hidden;

  .header__conrainer {
    display: grid;
    height: fit-content;
    justify-items: center;
    margin: 0 3vw;

    .header__text {
      font-size: 2.6vh;
      font-weight: normal;
      white-space: nowrap;
    }

    .text__color {
      color: var(--quiz-text-color-header-theme)
    }

    .QuizUndefined {
      display: grid;
      align-content: center;
      justify-items: center;
      width: 80%;
      margin: 0 auto;
      row-gap: 3.5vh;

      .quizContent {
        display: grid;
        width: 80%;
        margin: 0 auto;
        justify-items: center;
        text-align: center;
        padding: 4.5vh 3vw;
        row-gap: 2vh;

        .textContent {
          @include text-color(var(--text-quiz))
        }
      }
    }
  }

  .quiz__list {
    display: flex;
    height: 80%;
    align-items: center;
    overflow: hidden;
  }
}