html {
    --font-size-text-invitation: 2.5vh;
    --color-text-invitation: #FFFFFF;
}

html[data-theme="dark"] {
    --background-award-text: linear-gradient(90deg, #B0E7FF 0%, #F5C4FF 100%) no-repeat;
    --background-curruncy-text: rgba(255, 255, 255, 0.08);
    --color-text-currency: #FFF881;
    --award-border-gradient: rgba(255, 255, 255, 0.03);
    --background-award-item: #0E0C10;
    --backgroun-gradient-user-balance: linear-gradient(45deg, #000000 50%, #3A6ABB 150%);
    --background-user-balance-text: linear-gradient(90deg, #B0E7FF 0%, #F5C4FF 100%) no-repeat;
}

html[data-theme="light"] {
    --background-award-text: #0C0C0C;
    --background-curruncy-text: linear-gradient(90deg, #B0E7FF 0%, #F5C4FF 100%) no-repeat;
    --color-text-currency: #0C0C0C;
    --award-border-gradient: linear-gradient(90deg, #B0E7FF 0%, #F5C4FF 100%);
    --background-award-item: #FFFFFF;
    --backgroun-gradient-user-balance: none;
    --background-user-balance-text: #0C0C0C;
}