@import "../style/dark.css";
@import "../style/light.css";

html[data-theme='dark'] {
    --tasks-text-gradient: var(--tasks-text-gradient-dark);
    --tasks-text-award: var(--tasks-text-award-dark);
    --tasks-background-text-award: var(--tasks-background-text-award-dark);
    --tasks-background-news-gradient: var(--tasks-background-container-gradient-dark);
    --tasks-background-tasks-news: var(--tasks-background-container-dark);
}

html[data-theme='light'] {
    --tasks-text-gradient: var(--tasks-text-gradient-light);
    --tasks-text-award: var(--tasks-text-award-light);
    --tasks-background-text-award: var(--tasks-background-text-award-light);
    --tasks-background-news-gradient: var(--tasks-background-container-gradient-light);
    --tasks-background-tasks-news: var(--tasks-background-container-light);
}