@import "@/common/mixins.scss";

.reward-items {
  display: flex;
  flex-direction: column;
  row-gap: 1vh;

  .reward-container {
    display: flex;
    align-items: center;
    padding: 1.5vh 4vw;
    background: var(--profile-background-reward);
    border-radius: 2vw;
    justify-content: space-between;

    .reward-content {
      display: flex;
      align-items: center;
      column-gap: 1vw;

      .reward-text {
        @include text-color(var(--profile-text-color-reward));
      }
    }

    .reward {
      background: var(--background-reward-value);
      border-radius: 2vw;
      padding: 0.5vh 2vw;
    }

    .reward-border {
      position: relative;
      --padding: 1px;
      --border-radius: 2vw;
      --border-gradient: var(--profile-border-reward);
    }
  }

  .reward-container-border {
    position: relative;
    --padding: 1px;
    --border-radius: 2vw;
    --border-gradient: var(--profile-border-reward)
  }
}