@import "@/common/mixins.scss";

.reward-items {
  display: flex;
  flex-direction: column;
  row-gap: 1vh;

  .reward-container {
    display: flex;
    align-items: center;
    padding: 10px;
    background: var(--profile-background-reward);
    border-radius: var(--border-radius-regular);
    justify-content: space-between;

    .reward-content {
      display: flex;
      align-items: center;
      gap: 10px;

      .reward-text {
        @include text-color(var(--profile-text-color-reward));
        font-weight: 600;
      }
    }

    .reward {
      background: var(--background-reward-value);
      border-radius: 46px;
      padding: 4px 6px;
    }
  }

  .reward-container-border {
    position: relative;
    --padding: 1px;
    --border-radius: var(--border-radius-regular);
    --border-gradient: var(--profile-border-reward)
  }
}