html {
    --color-text-tasks-dark: #FFFFFF;
    --tasks-text-gradient-dark: linear-gradient(90deg, #B0E7FF 0%, #F5C4FF 80%);
    --tasks-text-award-dark: #FFF881;
    --task-background-container-link-gradient-dark: linear-gradient(90deg, #B0E7FF 0%, #F5C4FF 100%);
    --tasks-background-text-award-dark: rgba(255, 255, 255, 0.08);
    --tasks-background-container-gradient-dark: rgba(255, 255, 255, 0.03);
    --tasks-background-container-dark: #0C0C0C;
    --task-background-container-link-dark: #0C0C0C;
}