@import "@/common/mixins.scss";

.quiz {
  display: grid;
  width: 80%;
  margin: auto auto;

  .quiz-border {
    width: 100%;
    height: 100%;
    @include container-color(var(--quiz-border), 3vw, 1px);

    .quiz-background {
      width: 100%;
      height: 100%;
      @include container-color(var(--quiz-background), 3vw, 2vh 5vw);

      .quiz-content {
        display: grid;
        width: 100%;
        height: 100%;
      }
    }
  }
}