@import "@/components/pages/common/components/styles/mixins.scss";

.user__profile {
  display: grid;
  grid-template-rows: repeat(3, min-content);
  width: 90%;
  margin: 0 auto;
  row-gap: 2vh;

  .user__item {
    display: grid;
    grid-template-areas: "photo data";
    grid-template-rows: repeat(2, min-content);
    grid-template-columns: repeat(2, min-content);
    column-gap: 3vw;
    justify-content: start;

    .user__photo {
      grid-area: photo;
      border-radius: 10%;
      width: 22vw;
      height: 22vw;
    }

    .user__data {
      grid-area: data;
      display: grid;
      grid-template-rows: repeat(2, min-content);
      row-gap: 1vh;

      .user__name {
        color: var(--color-text);
        font-size: 2.5vh;
        font-weight: bold;
        white-space: nowrap;
      }

      .user__tag {
        color: var(--color-text);
        opacity: 0.6;
        font-size: 2vh;
      }

      .user__rating {
        font-size: 1.7vh;
        height: fit-content;
        width: fit-content;
        white-space: nowrap;
        padding: 0.5vh 1.5vw;
        border-radius: 1.5vh;
        color: var(--color-text);
        background: linear-gradient(90deg, rgba(114, 200, 200, 1) 20%, rgba(0, 122, 255, 1) 150%) center center;
      }
    }
  }

  .user__balance_border {
    @include container-content(var(--background-balance-border-color), 4vw, 1px);
    width: 100%;
    margin: 0 auto;

    .user__balance {
      display: flex;
      @include container-content(var(--background-balance-color), 4vw);
      justify-content: space-evenly;
      align-items: center;
      padding: 2vh 4vw;

      .user__balance_value {
        font-size: 4.5vh;
        font-weight: bold;
        @include text-color(var(--text-color-amount))
      }

      .user__balance_currency {
        font-size: 2vh;
        color: var(--text-color-currency);
        opacity: 0.7;
      }
    }
  }
}