@import "@/common/mixins.scss";

.user-item {
  display: flex;
  flex-direction: column;
  row-gap: 2vh;

  .user-data {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-areas: "photo contacts"
                         "balance balance";
    row-gap: 2vh;

    .user-photo {
      grid-area: photo;
      height: 80px;
      width: 80px;
      border-radius: 2vw;
    }

    .user-contacts {
      grid-area: contacts;
      display: flex;
      flex-direction: column;
      margin: 0 4vw;
      row-gap: 1vh;

      .user-tag {
        font-weight: normal;
        opacity: 0.6;
      }

      .user-rank {
        white-space: nowrap;
        color: #FFFFFF;
        padding: 4px 10px;
        border-radius: 2vw;
        background: linear-gradient(90deg, #007AFF -20%, #72C8C8 100%);
      }
    }

    .user-balance {
      grid-area: balance;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      padding: 1vh 2vw;
      background: var(--profile-background-balance);
      border-radius: 2.5vw;

      .user-balance-value {
        @include text-color(var(--profile-text-color-balance-amount));
      }

      .user-balance-currency {
        opacity: 0.6;
      }
    }

    .user-balance-border {
      position: relative;
      --padding: 1px;
      --border-radius: 2.5vw;
      --border-gradient: var(--profile-border-balance)
    }
  }
}