@import "@/common/mixins.scss";

.quiz-list {
  display: flex;
  overflow-x: scroll;
  scrollbar-width: none;
  column-gap: 3vw;
  height: 90%;
  padding: 0 10vw;

  .quiz-border {
    @include container-color(var(--quiz-border), 3vw, 1px);
    max-width: 300px;

    .quiz-background {
      height: 100%;
      @include container-color(var(--quiz-background), 3vw, 2vh 2vw);

      .quiz {
        display: grid;
        grid-template-rows: min-content 1fr min-content;
        height: 100%;
        min-width: 75vw;
        background: var(--quiz-background);
        border-radius: var(--border-radius-regular);
        justify-items: center;
        row-gap: 1vh;

        .qiuz-content-header {
          display: flex;
          background: #181818;
          border-radius: var(--border-radius-regular);
          padding: 2vh 2vw 1vh 1.5vw;
          justify-content: space-between;
          width: 90%;
          margin: 0 auto;
          align-items: end;

          .header-content-title {
            display: flex;
            font-size: 2.4vh;
            font-weight: bold;
            opacity: 0.6;
            color: #ffffff
          }
        }

        .quiz-description {
          display: flex;
          font-weight: bold;
          font-size: 2.5vh;
          text-align: center;
          justify-content: center;
          vertical-align: middle;
          line-height: 1.2;
          width: 80%;
          margin: 0 auto;
          @include text-color(var(--quiz-description-color));
        }

        .reward {
          background: var(--background-reward-value);
          border-radius: var(--border-radius-regular);
          padding: 0.5vh 2vw;
        }

        .reward-border {
          position: relative;
          --padding: 1px;
          --border-radius: var(--border-radius-regular);
          --border-gradient: var(--profile-border-reward);
        }

        .quiz-border-begin {
          @include container-color(var(--quiz-border-color-begin), 3vw, 1px);
          width: 90%;
          margin: 0 auto;

          .quiz-begin {
            margin-top: auto;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            @include container-color(var(--quiz-background-color-begin), 3vw, 1vh 0);

            .quiz-begin-text {
              @include text-color(var(--quiz-text-color-begin));
            }
          }
        }
      }
    }
  }
}

.radio-group {
  display: flex;
  flex-direction: column;
  place-items: center;
  row-gap: 2vh;
}