@import "@/common/mixins.scss";

.quiz-list {
  display: flex;
  overflow-x: scroll;
  scrollbar-width: none;
  column-gap: 3vw;
  height: 90%;
  padding: 0 10vw;

  .quiz-border {
    @include container-color(var(--quiz-border), 3vw, 1px);

    .quiz-background {
      height: 100%;
      @include container-color(var(--quiz-background), 3vw, 1vh 2vw);

      .quiz {
        display: grid;
        grid-template-rows: min-content min-content 1fr min-content;
        height: 100%;
        min-width: 75vw;
        background: var(--quiz-background);
        border-radius: 2vw;
        justify-items: center;
        padding: 1vh 0;
        row-gap: 2vh;

        .qiuz-content-header {
          display: flex;
          background: #181818;
          border-radius: 2vw;
          padding: 3vh 2vw 1vh 2vw;
          justify-content: space-between;
          width: 90%;
          margin: 0 auto;
          align-items: end;

          .header-content-title {
            display: flex;
            font-size: 2.4vh;
            font-weight: bold;
            opacity: 0.6;
            color: #ffffff
          }
        }

        .quiz-description {
          display: flex;
          font-weight: bold;
          font-size: 3vh;
          text-align: center;
          justify-content: center;
          vertical-align: middle;
          width: 80%;
          margin: 0 auto;
          @include text-color(var(--quiz-description-color));
        }

        .reward-value-border {
          @include container-color(var(--background-reward-value), 3vw, 0.5vh 1.5vw);

          .reward-value-background {
            white-space: nowrap;
            @include text-color(var(--color-reward-value));
          }
        }

        .quiz-border-begin {
          @include container-color(var(--quiz-border-color-begin), 3vw, 1px);
          width: 90%;
          margin: 0 auto;
          min-height: 5vh;

          .quiz-begin {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            @include container-color(var(--quiz-background-color-begin), 3vw);

            .quiz-begin-text {
              @include text-color(var(--quiz-text-color-begin));
            }
          }
        }
      }
    }
  }
}

.radio-group {
  display: flex;
  flex-direction: column;
  place-items: center;
  row-gap: 2vh;
}